@import "null.css";
@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
body {
   font-family: "HelveticaNeue", sans-serif;
   font-size: 16px;
   line-height: 1.3;
}
body._lock{
   overflow: hidden;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
.main{
   flex: 1 1 auto;
}
[class*="__container"] {
	margin: 0px auto;
	max-width: 1080px;
   padding: 0 15px;
}
.header {
   
   background-color: #373A3C;
   border-bottom: 3px solid #777777;
}
.header__container {
   
   
}
.header__row {
   min-height: 57px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header__logo {
   position: relative;
   width: 97px;
   height: 29px;
   z-index: 10;
}
.header__logo img{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
}
.header__menu {
}
.menu {
}
.menu__list {
   display: flex;
   align-items: center;
}

.menu__item {
   margin-left: 30px;
   position: relative;
}

.menu__link {
   line-height: 1;
   color: rgba(255, 255, 255, 0.5);
   position: relative;
   transition: 0.3s all ease;
}
.menu__link:hover{
   color: #fff;
}
.arrow-down {
   position: relative;
   padding: 0 0 0 21px;
   cursor: pointer;
}
.arrow-down::before{
   content: "";
   display: inline-block;
   background: url("../img/arrow-bottom.svg") no-repeat;
   width: 12px;
   height: 6.55px;
   position: absolute;
   top: 7px;
   right: 0;
   transition: 0.3s all ease;
}
.user {
   position: relative;
   margin: 0 25px 0 0;
}
.user::before{
   content: "";
   display: inline-block;
   background: url("../img/user.svg") no-repeat;
   width: 20px;
   height: 20px;
   position: absolute;
   top: -1px;
   left: 0;
}
.menu__input:focus {
   outline: 1px solid #a3a2a2;
}

.menu__input {
   background: #FFFFFF;
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   width: 211px;
   height: 38px;
   color: rgba(67, 87, 102, 0.7);
   font-size: 18px;
}
.menu__item input::placeholder{
   color: rgba(67, 87, 102, 0.4);
   font-size: 16px;
}
.menu__icon {
   display: none;
}
.sub-menu {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   background-color: #373a3cdc;
   min-width: 200px;
   padding: 10px 15px;
   border-radius: 5px;
   border: 2px solid #777777;
   transform: translate(0px, 10%);
   transition: 1s all ease;
   z-index: 9;
}
.sub-menu_consol{
   position: absolute;
   top: 0;
   left: 0;
   background-color: #373a3cdc;
   min-width: 200px;
   padding: 10px 15px;
   border-radius: 5px;
   border: 2px solid #777777;
   transform: translate(0px, 10%);
   transition: 1s all ease;
   
}
.sub-menu._active {
   display: block;
}
.arrow-down._active::before {
   transform: rotate(180deg);
}


.sub-menu__item {

}
.sub-menu__item:not(:last-child){
   margin-bottom: 10px;
}
.sub-menu__link {
   line-height: 1;
   color: rgba(255, 255, 255, 0.5);
   transition: 0.3s all ease;
}
.sub-menu__link:hover{
   color: #fff;
}
@media (max-width: 991.98px) {
   .menu__icon {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      cursor: pointer;
      z-index: 10;
   }
   .menu__icon span,
   .menu__icon::before,
   .menu__icon::after {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease;
      background-color: #7DD42F;
   }
   .menu__icon::before,
   .menu__icon::after {
      content: "";
   }
   .menu__icon::before{
      top: 0;
   }
   .menu__icon::after{
      bottom: 0;
   }
   .menu__icon span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }
   .menu__icon._active span{
      transform: scale(0) translate(0px, -50%);
   }
   .menu__icon._active::before{
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
   }
   .menu__icon._active::after{
      top: 50%;
      transform: rotate(45deg) translate(0px, -50%);

   }
   .menu__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #979797;
      padding: 70px 30px 30px 30px;
      transition: left 0.5s ease;
      overflow: auto;
      z-index: 9;
   }
   .menu__body._active {
      left: 0;
   }
   .menu__body._active::before{
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      background-color: #373A3C;
      border-bottom: 3px solid #777777;
      height: 60px;
      width: 100%;
      z-index: 4;
   }
   .menu__list {
      display: block;
      font-size: 22px;
      
   }
   .menu__item {
      margin: 0 0 10px 0;
   }
   .menu__item:last-child {
      margin: 0;
   }
   .menu__input {
      position: absolute;
      top: 12px;
      right: 70px;
      height: 30px;
      z-index: 5;
   }
   .menu__body._active .menu__input{
      position: fixed;
   }
   .sub-menu {
      position: relative;
      top: 0px;
      left: 0;
      background-color: #373a3cdc;
      width: 200px;
      padding: 10px 15px;
      border-radius: 5px;
      border: 2px solid #777777;
      transform: translate(0px, 0px);
   }
}
@media (max-width: 435px) {
   .menu__input {
      width: 120px;
      right: 50px;
   }
}




/*==========================================================================================================*/

.star-wars__image {
   position: relative;
   width: 100%;
   height: 650px;
}
.star-wars__image img{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
   object-position:top;
}
.star-wars__container {
}
.star-wars__text {
   
   margin-bottom: 134px;
   
}
.star-wars__content {
   position: relative;
   z-index: 2;
   top: 206px;
   left: 63.7%;
}
.star-wars__title {
   font-size: 36px;
   line-height: 1.16;
   color: #fff;
}
.star-wars__subtitle {
   font-size: 24px;
   line-height: 0.85;
   color: #fff;
}
.star-wars__links {
   position: relative;
   z-index: 2;
}
.star-wars__trailer {
   padding: 8px 20px;
   margin-right: 13px;
}
.button_green {
   background: #8DD83D;
   border-radius: 4px;
   color: #FFFFFF;
   display: inline-block;
}
.star-wars__game {
   padding: 8px 20px;
   color: #FFFFFF;
}
.button_grey {
   background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
   border-radius: 4px;
}

span.swiper-pagination-bullet{
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: rgba(255, 255, 255, 0.0001);
   border: 1px solid #8DD83D;
}
span.swiper-pagination-bullet-active{
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: #8DD83D;
   
}

div.swiper-button-next::after{
   content: "";
   width: 20px;
   height: 20px;
   background: url("../img/icon-next.svg") no-repeat;
}
div.swiper-button-prev::after{
   content: "";
   width: 20px;
   height: 20px;
   background: url("../img/icon-prev.svg") no-repeat;
}
div.swiper-button-prev {
   width: 20px;
   height: 20px;
   left: 58px;
   top: 50%;
   transform: translate(0px, -50%);
}
div.swiper-button-next{
   width: 20px;
   height: 20px;
   right: 58px;
   top: 50%;
   transform: translate(0px, -50%);
}
@media (max-width:992px) {
   .star-wars__content{
      top: 80px;
      left: 10%;
   }
   .star-wars__text {
       margin-bottom: 300px;
      }
}
@media (max-width:500px) {
   .star-wars__content{
      top: 150px;
      left: 20%;
   }
   .star-wars__text {
      margin-bottom: 300px;
   }
   div.swiper-button-prev {
      left: 15px;
      top: 50%;
      transform: translate(0px, -50%);
   }
   div.swiper-button-next{
      right: 15px;
      top: 50%;
      transform: translate(0px, -50%);
   }
   .star-wars__links {
      position: relative;
      z-index: 2;
      left: -15%;
   }
}
@media (max-width:360px) {
   .star-wars__links{
      display: inline-flex;
      flex-direction: column;
      left: 30%;
      transform: translate(-50%, 0);
   }
   .star-wars__trailer {
      margin: 0 0 15px 0;
   }
}

/* =========================================slide-forza ================================*/

.forza__image {
   position: relative;
   width: 100%;
   height: 650px;
}
.forza__image img{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
   object-position:top;
}
.forza__container {
}
.forza__text {
   color: #373A3C;
   margin-bottom: 134px;
   
}
.forza__content {
   position: relative;
   z-index: 2;
   top: 206px;
   left: 63.7%;
}
.forza__title {
   font-size: 36px;
   line-height: 1.16;
}
.forza__subtitle {
   font-size: 24px;
   line-height: 0.85;
}
.forza__links {
   position: relative;
   z-index: 2;
}
.forza__trailer {
   padding: 8px 20px;
   margin-right: 13px;
}
.button_green {
   background: #8DD83D;
   border-radius: 4px;
   color: #FFFFFF;
}
.forza__game {
   padding: 8px 20px;
   color: #FFFFFF;
}
.button_grey {
   background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
   border-radius: 4px;
}

span.swiper-pagination-bullet{
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: rgba(255, 255, 255, 0.0001);
   border: 1px solid #8DD83D;
}
span.swiper-pagination-bullet-active{
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: #8DD83D;
   
}

div.swiper-button-next::after{
   content: "";
   width: 20px;
   height: 20px;
   background: url("../img/icon-next.svg") no-repeat;
}
div.swiper-button-prev::after{
   content: "";
   width: 20px;
   height: 20px;
   background: url("../img/icon-prev.svg") no-repeat;
}
div.swiper-button-prev {
   width: 20px;
   height: 20px;
   left: 58px;
   top: 50%;
   transform: translate(0px, -50%);
}
div.swiper-button-next{
   width: 20px;
   height: 20px;
   right: 58px;
   top: 50%;
   transform: translate(0px, -50%);
}
@media (max-width:992px) {
   .forza__content{
      top: 80px;
      left: 10%;
   }
   .forza__text {
       margin-bottom: 300px;
      }
}
@media (max-width:500px) {
   .forza__content{
      top: 150px;
      left: 20%;
   }
   .forza__text {
      margin-bottom: 300px;
   }
   div.swiper-button-prev {
      left: 15px;
      top: 50%;
      transform: translate(0px, -50%);
   }
   div.swiper-button-next{
      right: 15px;
      top: 50%;
      transform: translate(0px, -50%);
   }
   .forza__links {
      position: relative;
      z-index: 2;
      left: -15%;
   }
}
@media (max-width:360px) {
   .forza__links{
      display: inline-flex;
      flex-direction: column;
      left: 30%;
      transform: translate(-50%, 0);
   }
   .forza__trailer {
      margin: 0 0 15px 0;
   }
}
/* =========================================slide-halo5=============================================== */

.halo-5__image {
   position: relative;
   width: 100%;
   height: 650px;
}
.halo-5__image img{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
   object-position:top;
}
.halo-5__container {
}
.halo-5__text {
   
   margin-bottom: 134px;
   color: #373A3C;
}
.halo-5__content {
   position: relative;
   z-index: 2;
   top: 206px;
   left: 63.7%;
}
.halo-5__title {
   font-size: 36px;
   line-height: 1.16;
}
.halo-5__subtitle {
   font-size: 24px;
   line-height: 0.85;
}
.halo-5__links {
   position: relative;
   z-index: 2;
}
.halo-5__trailer {
   padding: 8px 20px;
   margin-right: 13px;
}
.button_green {
   background: #8DD83D;
   border-radius: 4px;
   color: #FFFFFF;
}
.halo-5__game {
   padding: 8px 20px;
   color: #FFFFFF;
}
.button_grey {
   background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
   border-radius: 4px;
}

span.swiper-pagination-bullet{
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: rgba(255, 255, 255, 0.0001);
   border: 1px solid #8DD83D;
}
span.swiper-pagination-bullet-active{
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: #8DD83D;
   
}

div.swiper-button-next::after{
   content: "";
   width: 20px;
   height: 20px;
   background: url("../img/icon-next.svg") no-repeat;
}
div.swiper-button-prev::after{
   content: "";
   width: 20px;
   height: 20px;
   background: url("../img/icon-prev.svg") no-repeat;
}
div.swiper-button-prev {
   width: 20px;
   height: 20px;
   left: 58px;
   top: 50%;
   transform: translate(0px, -50%);
}
div.swiper-button-next{
   width: 20px;
   height: 20px;
   right: 58px;
   top: 50%;
   transform: translate(0px, -50%);
}
@media (max-width:992px) {
   .halo-5__content{
      top: 80px;
      left: 40%;
      
   }
   .halo-5__text {
       margin-bottom: 300px;
      }
}
@media (max-width:500px) {
   .halo-5__content{
      top: 150px;
      left: 20%;
   }
   .halo-5__text {
      margin-bottom: 300px;
   }
   div.swiper-button-prev {
      left: 15px;
      top: 50%;
      transform: translate(0px, -50%);
   }
   div.swiper-button-next{
      right: 15px;
      top: 50%;
      transform: translate(0px, -50%);
   }
   .halo-5__links {
      position: relative;
      z-index: 2;
      left: -15%;
   }
}
@media (max-width:360px) {
   .halo-5__links{
      display: inline-flex;
      flex-direction: column;
      left: 30%;
      transform: translate(-50%, 0);
   }
   .halo-5__trailer {
      margin: 0 0 15px 0;
   }
}
@media (max-width:600px) {
   .halo-5__image img{
      object-position: left;
   }
   .halo-5__text{
      color: #fff;

   }
}

/* ===========================================best-value======================================================== */

.best-value {
   padding: 64px 0 162px 0;
   background-color: #979797;
}
.best-value__container {
}
.best-value__top {
   color: #FFFFFF;
   text-align: center;
   margin-bottom: 42px;
}
.best-value__logo {
}
.best-value__title {
   font-size: 48px;
   line-height: 1.16;
   margin-bottom: 2px;
}
.title {
   font-size: 48px;
   line-height: 1.16;
   color: #FFFFFF;
}
.best-value__subtitle {
   font-size: 36px;
   line-height: 0.85;
}
.best-value__cards {
   display: flex;
   column-gap: 50px;
}
.best-value__card {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
.card-item {
   flex: 1 1 33.333%;
   background: #FFFFFF;
   border: 1px solid #8DD83D;
   border-radius: 4px;
}
.card-item__image {
   position: relative;
   padding-bottom: 56.6%;
   background: #FAFAFA
}
.card-item__image img{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   object-fit:scale-down;
}
.card-item__content{
   padding: 22px 21px 27px 21px;
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
}
.card-item__title {
   font-size: 18px;
   line-height: 0.85;
   color: #435766;
   margin-bottom: 13px;
}
.card-item__text {
   font-size: 24px;
   line-height: 1.16;
   color: #435766;
   margin-bottom: 38px;
   flex: 1 1 auto;
   
}
.card-item__button {
   padding: 19px 0;
   display: block;
   text-align: center;
}
@media (max-width:992px) {
   .best-value {
      padding: 30px 0 30px 0;
   }
   .best-value__cards {
      column-gap: 30px;
   }
   .card-item__text {
      margin-bottom: 15px;
      font-size: 18px;
   }
   .card-item__button {
      padding: 10px 0;
   }
}
@media (max-width:768px) {
   .best-value__cards {
      display: flex;
      column-gap: 0;
      row-gap: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
   }
   .card-item {
     width: 300px;
      
   }
}

/* ========================================================================================= */

.exlusive {
   
   background:  url("../img/CoD-WWII.jpg") 0 0 / cover no-repeat ;
   
}
.exlusive__backgraund{
   background: rgba(23, 23, 23, 0.5);
   padding: 97px 0 140px 0px;
}

.exlusive__lable {
   font-size: 36px;
   line-height: 0.8;
   color: #FFFFFF;
   text-align: center;
   margin-bottom: 53px;
}
div.swiper_exlusive{
   margin: 0 0 74px 60px;
   position: relative;
}
div.swiper_exlusive-wrapper {

}
.swiper_exlusive-slide:hover{
   position: relative;
   z-index: 100;
}

.exlusive__item {
   width: 320px;
   height: 420px;
   border: 1px solid #8DD83D;
   border-radius: 4px;
   min-height: 100%;
   transition: 0.3s all ease;
   display: flex;
   flex-direction: column;
   background-color: rgba(255, 255, 255, 0.9);
   padding: 22px 20px 27px 20px;
}
.exlusive__item:hover{
  transform: scale(1.1, 1.1);
  background-color: rgba(255, 255, 255, 1);
 
}
.exlusive__item:hover .exlusive__card-button{
   background-color: #71ce0f;
}
.exlusive__item:hover img{
   opacity: 0.9;
}
.exlusive__image {
   position: relative;
   padding-bottom: 56.6%;
   margin: -22px -20px 0 -20px;
}
.exlusive__image img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.exlusive__title {
   color: #435766;
   font-size: 18px;
   margin-bottom: 16px;
   padding: 22px 0 0 0 ;
}
.exlusive__subtitle {
   color: #435766;
   font-size: 21px;
   line-height: 1.19;
   /* margin-bottom: 43px; */
   flex: 1 1 auto;
   
}
.exlusive__card-button {
   
   display: block;
   padding: 20px 0;
   text-align: center;
}

.exlusive__button {
   font-size: 21px;
   line-height: 1;
   padding: 11px 47px;
   color: #FFFFFF;
   text-align: center;
   display: inline-block;
   position: relative;
   transform: translate(-50%,0px);
   left: 50%;
   
}
.swiper_exlusive-button-prev {
   width: 21px;
   height: 21px;
   position: absolute;
   top: -58px;
   left: 0;
  cursor: pointer;
}
.swiper_exlusive-button-prev::after{
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   width: 21px;
   height: 21px;
   background: url("../img/icon-prev.svg")0 0/ contain no-repeat;
}
.swiper_exlusive-button-next {
   width: 21px;
   height: 21px;
   position: absolute;
   top: -58px;
   right: 54px;
  cursor: pointer;
}
.swiper_exlusive-button-next::after {
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   width: 21px;
   height: 21px;
   background: url("../img/icon-next.svg")0 0/ contain no-repeat;
}
@media (max-width: 1024px) {
   .exlusive__backgraund{
      padding: 30px 15px;
   }
   div.swiper_exlusive {
      margin: 10px 0px 0px 0px;
   }
}

@media (max-width: 350px) {
   div.swiper_exlusive-slide{

   }
   .exlusive__item {
      width: 270px;
      height: 350px;
   }
}
@media (max-width: 320px) {
   div.swiper_exlusive-slide{

   }
   .exlusive__item {
      width: 220px;
      
   }
}
@media (max-width: 1024px) {
   .exlusive__item {
      margin: 0 auto;
   }
}
@media (max-width: 768px) {
   .exlusive__lable {
      font-size: 24px;
      line-height: 0.8;
      color: #FFFFFF;
      text-align: center;
      margin-bottom: 30px;
   }
   div.swiper_exlusive {
      margin-bottom: 30px;
   }
   .swiper_exlusive-button-next {
      top: 50%;
      right: 0;
      z-index: 10;
   }
   .swiper_exlusive-button-prev {
      top: 50%;
      left: 0;
      z-index: 10;
   }
   .best-value__title {
      font-size: 24px;
   }
   .best-value__subtitle {
      font-size: 20px;
   }
   .best-value__top {
      margin-bottom: 20px;
   }
}

/* ==================================================================================================== */

.desing-lab {
   background: url("../img/desing-lab-bg.jpg") center /cover no-repeat;
}
.desing-lab__bg {
   background: radial-gradient(100% 100% at 50% 0%, rgba(193, 255, 127, 0.1) 0%, rgba(141, 216, 61, 0.1) 100%);
   padding: 114px 0 145px 0;
}
.desing-lab__title {
   margin-bottom: 9px;
}

.desing-lab__text {
   max-width: 533px;
   font-size: 24px;
   line-height: 1.13;
   color: #FFFFFF;
   margin-bottom: 37px;
}
.desing-lab__buttons {
}
.desing-lab__button-desing {
   margin-right: 15px;
   display: inline-block;
   padding: 20px 55px;
   color: #FFFFFF;
}

.desing-lab__button-explore {
   display: inline-block;
   padding: 20px 23px;
}
@media (max-width:992px) {
   .desing-lab__bg {
      padding: 30px 0;
   }
}
@media (max-width:768px) {
   .desing-lab__title {
      font-size: 24px;
   }
   .desing-lab__text {
      font-size: 20px;
   }
}
@media (max-width:540px) {
   .desing-lab__buttons{
      text-align: center;
   }
   .desing-lab__button-desing {
      margin-bottom: 15px;
   }
}

/* ==================================================================================================== */
.call-of-duty-home {
   background: url("../img/CoD-bg.jpg") 0 0 / cover no-repeat;
}
.call-of-duty-home__bg{
   background: rgba(119, 119, 119, 0.35);
   padding: 110px 0 204px 0;
}
.call-of-duty-home__content {
   margin-left: 61.85%;
}
.call-of-duty-home__title {
   color: #FFFFFF;
   
}
.title__call-of-duty {
   font-size: 35px;
   line-height: 1.16;
}
.call-of-duty-home__subtitle {
   font-size: 14px;
   line-height: 1.1;
   color: #FFFFFF;
   margin-bottom: 139px;
}
.call-of-duty-home__buttons {

}
.call-of-duty-home__button-order {
   margin-right: 13px;
   padding: 8px 29px;
}

.call-of-duty-home__button-more-games {
   padding: 8px 22px;
}
@media (max-width:992px) {
   .call-of-duty-home__content {
      margin-left: 30%;
   }
}
@media (max-width:768px) {
   .call-of-duty-home__content {
      margin: 0;
   }
   .call-of-duty-home {
      background: url("../img/CoD-bg.jpg") 20% 0 / cover no-repeat;
   }
   .call-of-duty-home__bg{
      padding: 60px 0 100px 0;
   }
}
/* ==================================================================================================================== */
.call-of-duty-info {
   background: radial-gradient(100% 100% at 50% 0%, rgba(76, 80, 82, 0.1) 0%, rgba(95, 98, 101, 0.1) 100%);
   padding: 100px 0;
   color: #435766;
}
.call-of-duty-info__title {
   text-align: center;
   margin-bottom: 208px;
}
.call-of-duty-info__buttons {
   margin-bottom: 100px;
   text-align: center;
   font-size: 18px;
   line-height: 1.16;

}
.call-of-duty-info__button-order {
   display: inline-block;
   margin-right: 14px;
   padding: 15px 41px;
}
.call-of-duty-info__button-specification {
   display: inline;
   padding: 15px 20px;
   color: #FFFFFF;
}
.call-of-duty-info__video-body{
   position: relative;
   max-width: 890px;
   padding-bottom: 63.14%;
   margin: 0 auto;
}
.call-of-duty-info__video {
   
   margin-bottom: 100px;
}

.call-of-duty-info__video-body video,
.call-of-duty-info__video-body iframe {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
}
.call-of-duty-info__row {
   display: flex;
   
}
.call-of-duty-info__row:last-child {
   margin-bottom: 105px;
}
.call-of-duty-info__row:not(:last-child) {
   margin-bottom: 100px;
}
.call-of-duty-info__row .call-of-duty-info__collumn:nth-child(2) .call-of-duty-info__text {
   text-align: center;
}
.call-of-duty-info__collumn {
   flex: 1 1 50%;
}
.call-of-duty-info__text {
   padding-top: 20px ;
   max-width: 414px;
   font-size: 36px;
   line-height: 1.16;
}
.call-of-duty-info__image {
   position: relative;
   max-width: 524px;
   padding-bottom: 68.5%;
}
.call-of-duty-info__image img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.call-of-duty-info__technical-title {
   text-align: center;
   margin-bottom: 15px;
}
.call-of-duty-info__specification {
}
.specification {
}
.specification__row {
   display: flex;
   margin: 0 -33px;
   font-size: 21px;
   line-height: 1.13;
}
.specification__row:not(:last-child) {
   margin-bottom: 20px;
}
.specification__collumn {
   flex: 1 1 33.333%;
   padding: 0 33px;
}
.specification__row:last-child{
   margin-bottom: 80px;
}
.call-of-duty-info__button-consoles {
   display: inline-block;
   color: #FFFFFF;
   padding: 15px 53px;
}
.call-of-duty-info__button-mixer {
   display: inline-block;
   padding: 15px 18px;
}
@media (max-width:992px) {
   .call-of-duty-info {
      padding: 30px 0;
   }
   .call-of-duty-info__title {
      margin-bottom: 30px;
   }
   .call-of-duty-info__video {
      margin-bottom: 30px;
   }
   .call-of-duty-info__buttons {
      margin-bottom: 30px;
   }
   .call-of-duty-info__row:last-child {
      margin-bottom: 35px;
   }
   .call-of-duty-info__row:not(:last-child) {
      margin-bottom: 20px;
   }
   .specification__row:last-child{
      margin-bottom: 30px;
   }
}
@media (max-width:768px) {
   .title__call-of-duty {
      font-size: 22px;
   }
   .call-of-duty-info__text {
      font-size: 20px;
   }
}
@media (max-width:500px) {
   .call-of-duty-info__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .call-of-duty-info__button-order {
      display: inline-block;
      margin-right: 0px;
      margin-bottom: 20px;
      padding: 15px 41px;
      
   }
   .call-of-duty-info__button-specification {
      display: inline-block;
      padding: 15px 20px;
      color: #FFFFFF;
   }
   .call-of-duty-info__row {
      flex-direction: column;  
   }
   .call-of-duty-info__row .call-of-duty-info__collumn:nth-child(2) .call-of-duty-info__text {
      text-align: left;
   }
   .specification__row {
      flex-direction: column;
      margin: 0;
   }
   .specification__collumn {
      margin-bottom: 10px;
      padding: 0px;
   }
   .call-of-duty-info__button-consoles {
      margin-bottom: 10px;
   }
}








/*==============================================================================================================*/
.footer {
   background: #373A3C;
   padding: 58px 0 38px 0;
}
.footer__container {
}
.footer__top {
   display: flex;
   margin-bottom: 50px;
}
.footer__collumn {
   flex: 1 1 33.333%;
   margin: 0 20px 0 0 ;
}
.footer__title {
   color: #7DD42F;
   font-size: 18px;
   line-height: 0.8;
   margin-bottom: 34px;
}
.footer__list {
}
.footer__list-item:not(:last-child) {
   margin-bottom: 29px;
}
.footer__link {
   font-size: 14px;
   color: #fff;
   line-height: 0.8;
   transition: 0.3s color ease;
}
.footer__link:hover {
   color: #7DD42F;
}
.social {
   display: flex;
}
.social .footer__link {
   margin: 0 20px 0 0;
}

.footer__bottom {
   max-width: 1200px;
   margin: 0 auto;
   border-top: 2px solid rgba(253, 252, 252, 0.35);
   display: flex;
   justify-content: space-between;
   color: #fff;
   line-height: 0.8;
}
.footer__lang {
   margin-top: 19px;
}
.lang {
   transition: 0.3s color ease;
}
.lang:hover{
   color: #7DD42F;
   
}
.footer__copy {
   margin-top: 19px;
}
@media (max-width: 480px) {
   .footer {
      padding: 15px 0 15px 0;
   }
   .footer__top {
      display: flex;
      margin-bottom: 0px;
      flex-wrap: wrap;
   }
   .footer__collumn {
      /* align-items: center;
      justify-content: center; */
      flex: 0 0 150px;
      margin: 0 20px 10px 0 ;
   }
   .footer__title {
      margin-bottom: 10px;
   }
   .footer__list-item:not(:last-child) {
      margin-bottom: 8px;
   }

}

